<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Провал</title>
</head>
<body>
<div style="display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;">
    <h1>Exception occurred!</h1>
    <div style="display: flex;
        flex-direction: column;
        justify-content: center;">
        <p style="margin: 0;"><b>Message:</b> <span th:text="${message}"></span></p>
        <p style="margin: 0;"><b>Class:</b> <span th:text="${class}"></span></p>
        <p style="margin: 0;"><b>Stack trace:</b> <span th:text="${trace}"></span></p>
    </div>
</div>
</body>
</html>
